.gomb{
    
    margin-top: 200px;
    text-align: center;
    
}
body{
    background-color: yellow;
}
button{
    width: 200px;
    color: rgb(248, 11, 11);
    font-weight: bold;
    font-size: 30px;
    font-style: oblique;
    background-color: aqua;
    height: 100px;
}